In [81]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("house_data.csv")

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df.shape

(21613, 21)

In [68]:
x=df.iloc[:,3:].values
y=df.iloc[:,3:4].values

In [69]:
x.shape

(21613, 18)

In [70]:

y.shape

(21613, 1)

In [71]:
from sklearn.model_selection import train_test_split

In [72]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [73]:
from sklearn.linear_model import LinearRegression

In [74]:
regressor=LinearRegression()

In [75]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [78]:
y_pred=regressor.predict(x_test)

In [83]:
prediction=pd.DataFrame({'actual':list(y_test),'prediction':list(y_pred)})

In [104]:
prediction

     actual            prediction
0       [2]   [2.000000000000087]
1       [4]   [3.999999999999926]
2       [2]   [1.999999999999989]
3       [2]  [2.0000000000000053]
4       [4]   [3.999999999999989]
5       [3]  [3.0000000000000475]
6       [3]  [2.9999999999999383]
7       [3]    [3.00000000000005]
8       [4]   [4.000000000000007]
9       [5]   [4.999999999999995]
10      [4]  [3.9999999999999587]
11      [3]  [3.0000000000000555]
12      [2]     [2.0000000000001]
13      [3]   [2.999999999999994]
14      [4]  [3.9999999999999676]
15      [2]  [2.0000000000000053]
16      [3]  [3.0000000000000497]
17      [4]  [3.9999999999999356]
18      [2]  [1.9999999999999463]
19      [3]   [3.000000000000016]
20      [3]  [3.0000000000000315]
21      [4]   [4.000000000000005]
22      [4]   [4.000000000000002]
23      [3]   [2.999999999999994]
24      [4]  [3.9999999999999845]
25      [3]  [3.0000000000000044]
26      [4]   [3.999999999999973]
27      [4]   [3.999999999999907]
28      [2]  [2.0000000000000333]
29      [3]  [3.0000000000000004]
...     ...                   ...
6454    [5]   [4.999999999999934]
6455    [4]  [3.9999999999999933]
6456    [2]  [2.0000000000000053]
6457    [3]   [2.999999999999994]
6458    [5]  [4.9999999999999325]
6459    [3]  [3.0000000000000355]
6460    [3]   [2.999999999999999]
6461    [2]                 [2.0]
6462    [3]  [3.0000000000000555]
6463    [3]  [3.0000000000000204]
6464    [3]  [3.0000000000000355]
6465    [2]  [2.0000000000000586]
6466    [4]   [3.999999999999958]
6467    [3]   [3.000000000000015]
6468    [3]  [2.9999999999999734]
6469    [3]   [3.000000000000027]
6470    [4]   [4.000000000000007]
6471    [4]   [3.999999999999941]
6472    [4]   [3.999999999999997]
6473    [3]   [3.000000000000001]
6474    [2]   [2.000000000000006]
6475    [3]  [3.0000000000000253]
6476    [4]   [3.999999999999988]
6477    [3]  [3.0000000000000013]
6478    [3]   [3.000000000000047]
6479    [3]  [3.0000000000000173]
6480    [4]    [3.99999999999999]
6481    [3]  [3.0000000000000466]
6482    [3]  [3.0000000000000293]
6483    [3]   [3.000000000000015]

[6484 rows x 2 columns]

In [96]:
from sklearn.metrics import accuracy_score

In [106]:
regressor.score(x_test,y_pred)

1.0